@tailwind base;
@tailwind components;
@tailwind utilities;

/* .buttonA:hover{
    animation: animationButton cubic-bezier(0.215, 0.610, 0.355, 1) .10s ;
}

@keyframes animationButton {
    0%{
        transform: translateY(-5px);
    }
    to{
        transform: translateY(0px);
    }
} */

.letterA{
    animation: letters linear infinite 4s;
}

.letterAB{
    animation: lettersAB linear infinite 4s;
}


@keyframes letters {
    0%{
        opacity: .5;
        transform: translateY(0);
    }
    20%{
        opacity: 1;
    }
    50%{
        transform: translateY(-65%);
    }
    100%{
        transform: translateY(-130%) ;
    }
}