@tailwind base;
@tailwind components;
@tailwind utilities;

/* .buttonA:hover{
    animation: animationButton cubic-bezier(0.215, 0.610, 0.355, 1) .10s ;
}

@keyframes animationButton {
    0%{
        transform: translateY(-5px);
    }
    to{
        transform: translateY(0px);
    }
} */