@tailwind base;
@tailwind components;
@tailwind utilities;

/* .buttonA:hover{
    animation: animationButton cubic-bezier(0.215, 0.610, 0.355, 1) .10s ;
}

@keyframes animationButton {
    0%{
        transform: translateY(-5px);
    }
    to{
        transform: translateY(0px);
    }
} */

/* .letterA{
    animation: letters linear infinite 6s;
}


@keyframes letters {
    
    0%,5%{transform:translate3d(0,0,0);}
    20%,25%{transform:translate3d(0,-33.3%,0);}
    50%,55%{transform:translate3d(0,-66.6%,0);}
    70%,75%{transform:translate3d(0,-33.3%,0);}
    100%{transform:translate3d(0,0,0);}
    
} */